/deep/ body {
  font: 12px sans-serif;
}

/deep/ .axis path,
/deep/ .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/deep/ .x.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/deep/ .line {
  fill: none;
  stroke-width: 7px;
}

/deep/ .country {opacity: 0.3;}
/deep/ .country:hover {opacity:1;}