<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vega-tooltip/0.3.3/vega-tooltip.min.css">
<div *ngIf="viz">
    <!-- Placeholder for the tooltip -->
    <div id="viz-tooltip" class="vg-tooltip"></div>
    <h2 *ngIf="viz.showName">{{viz.name}}</h2>
    <div *ngIf="viz.showDescription">
        <label>{{viz.description}}</label>
    </div>
    <div id="view" [ngClass]="viz.width"></div>
</div>
<div class="col-md-12">
    <button (click)="goBack()" class="btn btn-default">Back</button>
</div>