:host /deep/ .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

:host /deep/ .axis path {
  stroke: #000;
  shape-rendering: crispEdges;
}

:host /deep/ .axis--x path {
  display: none;
}

:host /deep/ .bar {
  fill: steelblue;
}

:host /deep/ .bar:hover {
  fill: brown;
}