.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis path {
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis--x path {
  display: none;
}

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}