<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vega-tooltip/0.3.3/vega-tooltip.min.css">
<div id="viz-tooltip" class="vg-tooltip"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div #D3MapComponent></div>
        </div>
        <div class="col-sm-6">
            <div #D3SpiderChartComponent></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div #D3UpdatePatternComponent></div>
        </div>
        <div class="col-sm-6">
            <div #D3TestComponent></div>
        </div>
    </div>
</div>